<form onsubmit="return false;" id="batch-creator-form">
  <body>
    <input type="hidden" name="labId">
    <div class="row clg">
        <div class="input-field col s4">
            <select required id="l_b_stream" name="stream">
               <option value="" disabled selected>Select</option>
               <option value="CSE">CSE</option>
               <option value="IT">IT</option>
               <option value="ECE">ECE</option>
            </select>
            <label for="l_stream">Stream</label>
        </div>
        <div class="input-field col s4">
          <select required id="l_b_year" name="year">
             <option value="" disabled selected>Select</option>
             <option value="1st">1st</option>
             <option value="2nd">2nd</option>
             <option value="3rd">3rd</option>
             <option value="4th">4th</option>
          </select>
          <label for="l_b_year">Year</label>
        </div>
        <div class="input-field col s4">
          <select required id="l_b_sem" name="sem">
             <option value="" disabled selected>Select</option>
             <option value="ODD">ODD</option>
             <option value="EVEN">EVEN</option>
          </select>
          <label for="l_b_sem">Semester</label>
        </div>
      </div>
      <div class="row scl">
          <div class="input-field col s12">
              <select required id="l_b_class" name="cls">
                 <option value="" disabled selected>Select</option>
                 <option value="1">9</option>
                 <option value="2">10</option>
                 <option value="3">11</option>
                 <option value="3">12</option>
              </select>
              <label for="l_b_class">Class</label>
          </div>
      </div>
  </body>
  <div class="sub-form-footer">
    <button class="btn waves-effect waves-light" onclick="saveBatch('#batch-creator-form', this);">
      Create
    </button>

  </div>
</form>
