<div class="row">
  <div class="col s12 m3">
    <ul class="stage-list">
      <li class="stage" data-for="#part1">
        About
      </li>
      <li class="stage"  data-for="#part2">
        Problem &amp; IO
      </li>
      <li class="stage"  data-for="#part4">
        Publish
      </li>
    </ul>
  </div>
  <div class="col s12 m9">
    <section class="chall-part" id="part1">
      <%- include('_abt-chall-frm')%>
    </section>
    <section class="chall-part" id="part2">
      <%- include('_problem-adder')%>

    </section>
    <section class="chall-part" id="part3">
      <%- include('_io-adder')%>
    </section>
    <section class="chall-part" id="part4"></section>
  </div>


</div>
