</div>
<!-- Container ends here-->
</main>
<%- include('_footer-view') %>

<%- include('_nmus') %>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/mfw.min.js"></script>
<script>

  $(document).ready(function() {
    $(".button-collapse").sideNav();
    initTabs();
    refreshNavState();

    $('.datepicker').pickadate({
       selectMonths: true, // Creates a dropdown to control month
       selectYears: 2, // Creates a dropdown of 15 years to control year,
       today: 'Today',
       clear: 'Clear',
       close: 'Ok',
       closeOnSelect: true // Close upon selecting a date,
     });

     $('.timepicker').pickatime({
        default: 'now', // Set default time: 'now', '1:30AM', '16:30'
        fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
        twelvehour: true, // Use AM/PM or 24-hour format
        donetext: 'OK', // text for done-button
        cleartext: 'Clear', // text for clear-button
        canceltext: 'Cancel', // Text for cancel-button
        autoclose: false, // automatic close timepicker
        ampmclickable: true, // make AM PM clickable
        aftershow: function(){} //Function for after opening timepicker
      });
      $('select').material_select();
  });

  function initTabs() {
     $('ul#chall-tabs').tabs();
      $('ul#chall-tabs a').click(function() {
        console.log($(this).attr('href'));
      });
  }

  function refreshNavState() {
    var path = window.location.pathname;
    if(path.length > 1) {
      var href = path.lastIndexOf('/') != 0 ? ('/' + path.split('/')[1]) : path;
      $('.n_o').removeClass('a_o');
      $('a[href="' + href + '"]').each(function(i, a){
        if(!$(a).hasClass('grey-text')) {  $(a).addClass('a_o')};
      });
    }


    (function() {
      var right = '&#10095; ';
      $('#page-nav').html(right);
      var links = path.split('/');
      var no = 0;
      var prefix = '';
      if(path.indexOf('/profile') === 0) {
        $('#page-nav').hide();
        return;
      }
      $(links).each(function(a, link) {
        if(link.length > 0) {
          if(no > 0) {
            $('#page-nav').append(right);
          }
          no++;
          $('#page-nav').append('<a href="/' + prefix + link + '">' + link + '</a>');
          prefix += link + '/';
        }
      });
    })();

  }


  $('.nmus').click(function(event) {
    event.preventDefault();
    var type = $(this).attr('data-type');

    if($(window).width() <= 630) {
        $('body').css({overflow: 'hidden'});
        if(type.charAt(0) === 'S') {
          $('#js-mob-srch-ui').show();
          $('#js-comsg').hide();
        } else {
          $('#js-mob-srch-ui').hide();
          $('#js-comsg').show();
        }
        $('#a-nmus').show();
        $('.a-main-panel').animate({'margin-right': '9%'}, 300);
        $('#nmus-type .title span').html(type);
        $('.js-srch-qry:visible').focus();
    } else {
      if($(this)[0].hasAttribute('style')) {
        _commonTask();
      } else {
        _commonTask();
        $(this).css({'background-color': '#fff', color: '#5B2C6F'});
        var mainPanel = $(this).siblings()[0];
        $(mainPanel).show();
        $(mainPanel).find('.title-text').text(type);
        $('.js-srch-qry:visible').focus();
      }
    }

  });

  function _commonTask() {
    $('.nmus').removeAttr('style');
    $('.main-panel').hide();
  }

  $('#nmus-type .close-btn').click(function() {
    hideNmus();
  });

  $('#a-nmus').click(function(event) {
    if(event.target.id === 'a-nmus') {
      hideNmus();
    }
  });

  function hideNmus() {
    $('body').removeAttr('style');
    $('.a-main-panel').animate({'margin-right': '-80%'}, 300, function() {
      $('#a-nmus').fadeOut('fast');
    });
  }

  function toast(html) {
    if(html) {
      $('#toast').html(html);
      $('#toast').css('display', 'inline-block');
    }
  }

  function hideToast() {
    $('#toast').hide();

  }

  $('.main-panel').click(function(event) {
    _commonTask();
  });
  $('.m-u-lrg').click(function(event) {
    event.stopPropagation();
  });


  /*
    $('.n_o').on('click', function(event) {
        event.preventDefault();
        __changeLinkUI(this);
        var url = $(this).attr('href');
        var _url = '/' + url;

        if(isCached(_url)) {
          doNext(__getCachedContent(_url), url);
        } else {
          getHTML(url, {}, doNext);
        }


        function __getCachedContent(url) {
          return $.parseJSON(window.localStorage.getItem(url)).html;
        }

        function __changeLinkUI(link) {
          $('.n_o').removeClass('a_o');
          $(link).addClass('a_o');
          $(link).find('.badge').remove();
        }
    });

    function getHTML(url, data, _callback) {
      toast();
      var _url = '_' + url
      $.ajax({
        url: _url,
        data: data,
        method: 'GET',
        async: true,
        success: function(data) {
          _callback(data, url);
        },
        error: function(xhr, status, error) {
          _callback(xhr.responseText);
        },
        complete: function() {
          hideToast();
        }

      });
    }

    function doNext(data, url) {
      var obj = {
        html: data
      };
      var title = renderView(obj);
      window.history.pushState(obj, title, url);
      cacheContent(obj);

    }

    window.addEventListener('popstate', function(event) {
      showCachedContent(event);
    });

    function showCachedContent(e) {
      if(e.state) {
        renderView(e.state);
        refreshNavState();
      } else {
      //  window.location.assign(window.location.href);
      }
    }

    function renderView(obj) {
      $('#htm').html(obj.html);
      var title = $('#dummy-title').text();
      $('title').text(title);
      return title;
    }

    function cacheContent(obj) {
      window.localStorage.setItem(window.location.pathname, JSON.stringify(obj));
    }

    function isCached(url) {
      return window.localStorage.getItem(url) != null;
    }

    window.onbeforeunload = function() {
      window.localStorage.clear();
    };
  */


</script>
</html>
