</div>
<!-- Container ends here-->
</main>
<%- include('_footer-view') %>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/mfw.min.js"></script>
<script>

  $(document).ready(function() {
    $(".button-collapse").sideNav();
    initTabs();
    refreshNavState();
  });

  function initTabs() {
     $('ul#chall-tabs').tabs();
      $('ul#chall-tabs a').click(function() {
        console.log($(this).attr('href'));
      });
  }

  function refreshNavState() {
    var path = window.location.pathname;
    if(path.length > 1) {
      var href = path.lastIndexOf('/') != 0 ? ('/' + path.split('/')[1]) : path;
      $('.n_o').removeClass('a_o');
      $('a[href="' + href + '"]').addClass('a_o');
    }


    (function() {
      var right = '&#10095; ';
      $('#page-nav').html(right);
      var links = path.split('/');
      var no = 0;
      $(links).each(function(a, link) {
        if(link.length > 0) {
          if(no > 0) {
            $('#page-nav').append(right);
          }
          no++;
          $('#page-nav').append('<a href="/' + link + '">' + link + '</a>');
        }
      });
    })();

  }
/*
  $('.n_o').on('click', function(event) {
      event.preventDefault();
      __changeLinkUI(this);
      var url = $(this).attr('href');
      var _url = '/' + url;

      if(isCached(_url)) {
        doNext(__getCachedContent(_url), url);
      } else {
        getHTML(url, {}, doNext);
      }


      function __getCachedContent(url) {
        return $.parseJSON(window.localStorage.getItem(url)).html;
      }

      function __changeLinkUI(link) {
        $('.n_o').removeClass('a_o');
        $(link).addClass('a_o');
        $(link).find('.badge').remove();
      }
  });

  function getHTML(url, data, _callback) {
    toast();
    var _url = '_' + url
    $.ajax({
      url: _url,
      data: data,
      method: 'GET',
      async: true,
      success: function(data) {
        _callback(data, url);
      },
      error: function(xhr, status, error) {
        _callback(xhr.responseText);
      },
      complete: function() {
        hideToast();
      }

    });
  }

  function doNext(data, url) {
    var obj = {
      html: data
    };
    var title = renderView(obj);
    window.history.pushState(obj, title, url);
    cacheContent(obj);

  }

  window.addEventListener('popstate', function(event) {
    showCachedContent(event);
  });

  function showCachedContent(e) {
    if(e.state) {
      renderView(e.state);
      refreshNavState();
    } else {
    //  window.location.assign(window.location.href);
    }
  }

  function renderView(obj) {
    $('#htm').html(obj.html);
    var title = $('#dummy-title').text();
    $('title').text(title);
    return title;
  }

  function cacheContent(obj) {
    window.localStorage.setItem(window.location.pathname, JSON.stringify(obj));
  }

  function isCached(url) {
    return window.localStorage.getItem(url) != null;
  }

  window.onbeforeunload = function() {
    window.localStorage.clear();
  };
*/
  function toast(html) {
    if(html) {
      $('#toast').html(html);
    }
    $('#toast').css('display', 'inline-block');
  }

  function hideToast() {
    $('#toast').hide();
  }


</script>
</html>
