<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <style>
      .hidden {
        display: none;
      }
    </style>
    <script src="https://use.fontawesome.com/150492bb97.js"></script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quicksand:400,500" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body>
    <div id="toast-container">
      <div class="toast" id="toast">loading...</div>
    </div>
    <!--//opacity: 1; transform: translateY(-35px);-->
    <header>
      <nav class="navbar-fixed">

        <div class="nav-wrapper">

            <a href="/" class="brand-logo left" >
            Cozone.io
            </a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container" id="htm">
        <div id="page-nav"></div>
