<form>
  <header>
    Input &amp; Output
  </header>
  <body>
    <div class="row">
      <div class="input-field col s6">
        <textarea id="p_sample_ip" class="materialize-textarea" name="testIp" required></textarea>
        <label for="p_sample_ip">Sample Input</label>
      </div>
      <div class="input-field col s6">
        <textarea id="p_sample_op" class="materialize-textarea" name="testOp" required></textarea>
        <label for="p_sample_op">Sample Output</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s5">
        <textarea id="#1_ip" class="materialize-textarea" name="#1_ip" required></textarea>
        <label for="#1_ip">Test Case#1 IP</label>
      </div>
      <div class="input-field col s5">
        <textarea id="#1_op" class="materialize-textarea" name="#1_op" required></textarea>
        <label for="#1_op">Test Case#1 OP</label>
      </div>
      <div class="input-field col s2">
        <textarea id="#1_score" class="materialize-textarea" name="#1_score" required></textarea>
        <label for="#1_score">Score</label>
      </div>
    </div>

  </body>
  <footer>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      new test case
    </button>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Finish
    </button>
  </footer>
</form>
