<div class="row">
  <div class="col s12 m3">
    <ul class="stage-list">
      <li class="stage" data-for="#part1">
        About
      </li>
      <li class="stage" data-for="#part2">
        Create Batch
      </li>
      <li class="stage"  data-for="#part3">
        Add Topic
      </li>
      <li class="stage"  data-for="#part4">
        Input &amp; Output
      </li>
      <li class="stage"  data-for="#part5">
        Publish
      </li>
    </ul>
  </div>
  <div class="col s12 m9">
    <section class="cl-part" id="part1">
      <%- include('_abt-lab-part')%>
    </section>
    <section class="cl-part" id="part2">
      <%- include('_batch-lab-part')%>
    </section>
    <section class="cl-part" id="part3">
      <%- include('_topic-adder')%>
    </section>
    <section class="cl-part" id="part4">
      <%- include('_io-adder')%>
    </section>
    <section class="cl-part" id="part5"></section>
  </div>


</div>
