<div id="a-nmus">
  <div class="a-main-panel">
    <div id="nmus-type">
      <div class="title"></div>
      <div class="close-btn">&#10006;</div>
    </div>
    <div class="main-ui">
        <%- include('_sample_nmus') %>
    </div>
  </div>
</div>
