
<div class="main-panel <%= _obj_.extraCls%>">
  <div class="main-ui m-u-lrg">
    <div class="title">
      <span class="title-text"></span>
      <div class="ldr">
        <img src="/images/ldr.gif">
      </div>
      <% if(_obj_.seeAll) {%>
      <div class="see-all"><a href="<%= _obj_.link%>" style="background-color:#fff; padding: 0px; color:#333;">see all</a></div>
      <%}%>
    </div>
