<ul class="user-opt-list">
  <li class=""><i class="fa fa-user-o"></i>Profile</li>
  <li class=""><i class="fa fa-bookmark"></i>Bookmarks</li>
  <li class=""><i class="fa fa-sign-out"></i>Logout</li>
</ul>
