<ul class="user-opt-list">
  <li class="u-opt"><a href="/profile"><i class="fa fa-user-o"></i>Profile</a></li>
  <li class="u-opt"><a href="/bookmark"><i class="fa fa-bookmark"></i>Bookmarks</a></li>
  <li class="u-opt"><a href="/"><i class="fa fa-random"></i>Switch Role</a></li>
  <li class="u-opt"><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
</ul>
