<div class="main-panel">
  <div class="main-ui">
    <div class="title">
      Notification
        <div class="ldr">
          loading...
        </div>
      <div class="see-all">see all</div>
    </div>
    <div class="push-data">
      <%- include('_sample_nmus') %>
    </div>
  </div>
</div>
