<div class="row prof-row">
  <div class="col s12 profile-banner">

    <div class="profile-pic">
      <div class="user-name">Ashirvad Pandey</div>
      <img src="../images/favicon.ico">
      <div class="user-info">
        <i class="fa fa-circle"></i>  Cozoner since: Aug, 2011
      </div>
    </div>

  </div>


</div>

<div class="row">
  <div class="col s12 m4 centered-text">
    <div class="radio-wrapper">
      <div class="radio">
        <div class="big-count">20</div>
        <div class="count-for">Projects</div>
      </div>
    </div>
  </div>
  <div class="col s12 m4 centered-text">
    <div class="radio-wrapper">
      <div class="radio">
        <div class="big-count">12</div>
        <div class="count-for">submissions</div>
      </div>
    </div>
  </div>
  <div class="col s12 m4 centered-text">
    <div class="radio-wrapper">
      <div class="radio">
        <div class="big-count">25</div>
        <div class="count-for">Solutions</div>
      </div>
    </div>
  </div>

</div>
