<ul class="collection">
    <li class="collection-item avatar">
      <img src="../images/favicon.ico" alt="" class="circle">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, impedit!
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="../images/favicon.ico" alt="" class="circle">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, impedit!
      </p>
    </li>


  </ul>
