<form onsubmit="return false;">
  <header>
    Add Topic
  </header>
  <body>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="l_b_t_name" data-length="32" name="name" required>
        <label for="l_b_t_name">Topic</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="l_b_t_obj" class="materialize-textarea" name="objective" required></textarea>
        <label for="l_b_t_obj">Objcetive</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="l_b_t_chapter" data-length="32" name="chapter" required>
        <label for="l_b_t_chapter">Chapter</label>
      </div>
    </div>
  </body>
  <footer>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Next
    </button>

  </footer>
</form>
